<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECOMMERCE | TECHNOLOGICAL.</title>
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/administrador/style.css}" rel="stylesheet">
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div th:insert="fragments/admin/menu :: menu-principal" class="sidebar"></div>
    <div class="main-content mb-5">
        <header th:insert="fragments/admin/header :: header-principal"></header>
        <main>
            <div class="container-fluid">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Producto</li>
                        <li class="breadcrumb-item active" aria-current="page">Mantenimiento Producto
                        </li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="fw-bold card-title">Productos</h5>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/productos/save}" th:object="${producto}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}"> <input type="hidden" th:field="*{imagen}">
                                    <div class="row mb-3">
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <label><i class="fas fa-user"></i> Nombre</label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''" placeholder="Ingrese nombre del producto"><small class="form-text text-danger"
                                                th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <label>Categoría</label> <select class="form-control" name="categoria" th:field="*{categoria.id}">
												<option th:each="cat : ${categorias}" th:value="${cat.id}"
													th:text="${cat.nombre}"></option>
											</select> <small id="categoria" class="form-text text-muted">Seleccione
												Categoría Registrada.</small>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <label>Imagen</label>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <label>Imagen</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="archivoImagen" id="archivoImagen" aria-describedby="inputGroupFileAddon01"> <label class="custom-file-label" for="inputGroupFile01">Choose
														file</label>
                                                </div>
                                            </div>
                                            <small id="imagen" class="form-text text-muted">Maximo
												2 MB.</small> <img th:src="@{/logos/{img} (img=${producto.imagen}) }" class="img-fluid mb-5" alt="Responsive image">
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn btn-primary btn-sm text-white  btn-block">
										<i class="fas fa-save"></i> Agregar
									</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:insert="fragments/admin/footer :: pie-pagina"></footer>
    </div>
</body>

</html>